
footer{
    background-color: rgb(82, 78, 78);
    color: white;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

@media screen and (max-width:760px ) {

    .container{
      display: flex;
      flex-direction: column;
    }
    
    .banner-img{
      justify-content: center;
      display: flex;
      flex-direction: column;
      top: 0;
     
    }
    
    .banner-img img{
      display: none;
    }
    
    .banner p{
      display: flex;
      justify-content: center;
      flex-direction: column;
      } 
    
      .card-infor{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }

      .submit-btn{
          left: -20px;
      }

      .table-responsive {
        width: 100%;
      }
      
      .table-responsive thead,
      .table-responsive tbody,
      .table-responsive th,
      .table-responsive td,
      .table-responsive tr {
        display: block;

      }

      .table-responsive td,
      .table-responsive th {
        height: 35px;
        }

        .table-responsive thead {
          float: left;

        }

        .table-responsive tbody {
          width: auto;
          position: relative;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;

        }
    }